.contact_us {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
  background-color: antiquewhite;
}
.contact {
  height: 800px;
  position: relative;

  padding: 50px 100px;
  display: flex;
  justify-content: space-around;
  min-width: 1320px;
  flex-direction: row;
  background-color: #222;
  margin-bottom: 1.5rem;
}
.contact .content {
  margin-bottom: -50px;
  max-width: 800px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-left: 20%;
}

.contact .content h2 {
  font-size: 3em;
  color: #fff;
  font-weight: 500;
}
.contact .content p {
  font-size: 1.1em;
  color: #fff;
  font-weight: 300;
}
.contact .container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 20px;
}
.container .container_info {
  margin-top: 200px;
  margin-left: 45px;
  width: 48%;
  display: flex;
  flex-direction: column;
}
.container .container_info .box {
  position: relative;
  padding: 20px 0;
  display: flex;
  cursor: pointer;
}

.container .container_info .box .icon {
  position: relative;
  min-width: 60px;
  height: 60px;
  background: repeating-conic-gradient(
    from 27.5deg,
    #01dbc2 0%,
    #01dbc2 10%,
    transparent 10%,
    transparent 50%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .container_info .box .icon::before {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-conic-gradient(
    from 117.5deg,
    #01dbc2 0%,
    #01dbc2 10%,
    transparent 10%,
    transparent 50%
  );
}
.container .container_info .box .icon::after {
  content: "";
  position: absolute;
  inset: 2px;
  background: #222;
}
.container .container_info .box .icon b {
  position: absolute;
  inset: 8px;
  background: #01dbc2;
  z-index: 2;
}
.container .container_info .box .icon i {
  position: relative;
  z-index: 1000;
  color: #333;
  font-size: 1.25em;
}
.container .container_info .box .text {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  color: #fff;
  font-family: 300;
}
.container .container_info .box .text h3 {
  font-family: 500;
  color: #01dbc2;
}
.container .container_info .txt {
  color: #fff;
  margin-top: 50px;
  font-weight: 500;
  border-left: 50px solid #01dbc2;
  padding-left: 10px;
  line-height: 1em;
}
.container .container_info .sci {
  position: relative;
  display: flex;
  gap: 30px;
  margin: 20px 0;
}
.container .container_info .sci li {
  list-style: none;
}
.container .container_info .sci li a {
  color: #fff;
  font-size: 1.5em;
  transition: 0.25s;
}
.container .container_info .sci li a:hover {
  color: #01dbc2;
  filter: drop-shadow(0 0 5px #01dbc2);
}
.container .container_form {
  margin-bottom: 30px;
  margin-left: 100px;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 48%;
  background: repeating-conic-gradient(
    from var(--a),
    #01dbc2 0%,
    #01dbc2 10%,
    transparent 10%,
    transparent 50%
  );
  animation: animate 6s linear infinite;
  padding: 60px;
}
.container .container_form::before {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-conic-gradient(
    from var(--a),
    #01dbc2 0%,
    #01dbc2 10%,
    transparent 10%,
    transparent 50%
  );
  animation: animate 6s linear infinite;
  animation-delay: -1.5s;
}
.container .container_form::after {
  content: "";
  position: absolute;
  inset: 2px;
  border: 20px solid #222;
  background: #333;
}
@property --a {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
@keyframes animate {
  0% {
    --a: 0deg;
  }
  100% {
    --a: 360deg;
  }
}

.container .container_form .form {
  position: relative;
  z-index: 10;
}

.container .container_form .form h2 {
  font-size: 2em;
  color: #fff;
  font-weight: 500;
}
.container .container_form .form .input_box {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.container .container_form .form .input_box input,
.container .container_form .form .input_box textarea {
  width: 450px;
  padding: 5px 0;
  font-size: 1.1em;
  margin: 15px 0;
  border: none;
  background: transparent;
  border-bottom: 2px solid #01dbc2;
  color: #fff;
  outline: none;
  resize: none;
}

.container .container_form .form .input_box span {
  position: absolute;
  left: 0;
  pointer-events: none;
  padding: 5px 0;
  margin: 10px 0;
  font-size: 1.1em;
  color: #fff;
  transition: 0.5s;
}

.container .container_form .form .input_box input:focus ~ span,
.container .container_form .form .input_box textarea:focus ~ span,
.container .container_form .form .input_box input:valid ~ span,
.container .container_form .form .input_box textarea:valid ~ span {
  color: #01dbc2;
  font-size: 1.2em;
  transform: translateY(-24px);
}

.container .container_form .form .input_box .submit {
  width: 100%;
  background: #01dbc2;
  color: #222;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 1.5em;
  font-weight: 500;
}
